
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Slab', serif; /* Fuente secundaria */
    color: #333c54;  /* Color del texto */
    background-color: #f5f3ef; /* Color de fondo */
}
.header {
    background-image: url('../images/A&R.jpeg'); /* Cambia esta URL a la imagen de fondo deseada */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #333c54;
}

.overlay {
    background-color: rgba(23, 27, 37, 0.5); /* Color de fondo con transparencia */
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}
h1 {
    font-family: 'Lancelot', serif; /* Fuente principal */
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
@media(min-width:600px)
{
    .overlay{
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
    }
}
#countdown {
    font-size: 1.5em;
}
main {
    padding: 20px;
    background-image: url('../images/img4.jpg');
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado img{
    height: 40%;
    width: 40%;
}

@media(min-width:600px)
{
    .encabezado img{
        height: 20%;
        width: 20%;
    } 
}
.frase{
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

@media(min-width:600px){
    .frase{
        text-align: center;
        font-size: 20px;
        margin-left: 40%;
        margin-right: 40%;
    }
}

.padrinos p{
    margin-top: 0;
    font-size: 20px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.wrapper img, i{
    height: 70px;
    width: 70px;
    margin: 0 0 0 15px;
}

.wrapper .cart .cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper .cart .cont .conte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.wrapper .cart{
    background: rgba(216, 154, 60, 0.4);
    width: 430px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    justify-content: space-between;
    animation: animate 18s linear infinite;
    animation-delay: calc(3s * var(--delay));
    pointer-events: none;
    position: absolute;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .1);
}

@keyframes animate {
    0%{
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    4.166%, 16.66%{
      opacity: 0;
      transform: translateY(100%) scale(0.7);
    }
    20.83%, 33.33%{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
   37.5%, 50%{
      opacity: 0;
      transform: translateY(-100%) scale(0.7);
    }

    54.16%, 83.33%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
      }
    100%{
        opacity: 0;
        transform: translateY(-100) scale(0.5);
    }
 
}

.cart .cont{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.itinerario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    position: relative;
    width: 300px;
    height: 450px;
    margin-bottom: 5px;
}

.card1{
    margin-top: 10px;
    width:300px;
    height:400px;
}

@media(min-width:600px){
    .card{
        position: relative;
        width: 500px;
        height: 350px;
        margin-bottom: 5px;
    }
    
    .card1{
        width:500px;
        height:400px;
    }

}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
    color: #f5f3ef;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

@media(min-width:600px)
{
    .card .front h2{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: #f5f3ef;
        background: rgba(0, 0, 0, .4);
        text-align: center;
    }
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #f5f3ef;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back p{
    letter-spacing: 1px;
    font-size: 18px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.card .back h3{
    border-top: solid 1px;
}

.card .back img{
    width: 3rem;
    height: 3rem;
    align-items: center;
}

.card2 .face{
    background-color: #99d0e8;
}

.codigoVestimenta{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.card2 .front p{
    font-size: 40px;
    margin-top: 25%;
}

.card2 .back p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #333c54;
}

.card2 .back h1{
    color: #171b25;
}

.card2 .back h2{
    color:#333c54;
}

.tituloCodigo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tituloCodigo img{
    height: 80px;
    width: 80px;
}
.codigoVestimenta .blanco{
    color: #ffff;
}
.codigoVestimenta .terracota{
    color: #c89c7d;
}
.codigoVestimenta .ivory{
    color: #FFFFF0;
}

.codigoVestimenta .perla{
    color: #F5EBDA;
}

.codigoVestimenta .rojo{
    color: #CF010B;
}

.gallery{
	width: 100%;
}

.gallery-container{
	align-items: center;
	display: flex;
	height: 400px;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

.gallery-item{
	height: 200px;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	width: 330px;
	z-index: 0;
	border-radius: 15px;
	background-size: contain;
}

.gallery-container-1{
	left: 15%;
	opacity: .4;
	transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
	height: 250px;
	opacity: 0.8;
	width: 380px;
	z-index: 1;
}

.gallery-item-2{
	left: 30%;
	transform: translateX(-50%);
}

.gallery-item-3{
	box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
	height: 300px;
	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 430px;
	z-index: 2;
}

.gallery-item-4{
	left: 70%;
	transform: translateX(-50%);
}

.gallery-item-5{
	left: 85%;
	opacity: .4;
	transform: translateX(-50%);
}

.gallery-controls{
	display: flex;
	justify-content: center;
	margin: 25px 0;
	height: 100px;
}

.gallery-controls button{
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 30px;
	margin: 0 50px;
	padding: 0 12px;
	text-transform: capitalize;
}

.gallery-controls-botton:focus{
	outline: none;
}

.gallery-controls-previous{
	position: relative;
}

.gallery-controls-previous::before{
	border: solid #000;
	border-width: 0 5px 5px 0;
	content: '';
	display: inline-block;
	height: 5px;
	left: -30px;
	padding: 10px;
	position: absolute;
	top: 25px;
	transform: rotate(135deg) translateY(-50%);
	transition: left 0.15s ease-in-out;
	width: 5px;
}

.gallery-controls-previous:hover::before{
	left: -40px;
}

.gallery-controls-next{
	position: relative;
}

.gallery-controls-next::before{
	border: solid #000;
	border-width: 0 5px 5px 0;
	content: '';
	display: inline-block;
	height: 5px;
	padding: 10px;
	position: absolute;
	right: -30px;
	top: 45;
	transform: rotate(-45deg) translateY(-50%);
	transition: right 0.15s ease-in-out;
	width: 5px;
}

.gallery-controls-next:hover:before{
	right: -40px;
}

.gallery-nav{
	bottom: -15px;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	position: absolute;
	width: 100%;
}

.gallery-nav li{
	background: #ccc;
	border-radius: 50%;
	height: 10px;
	margin: 0 16px;
	width: 10px;
}

.gallery-nav li.gallery-item-selected{
	background: #555;
}

footer {
    background-color: #ae7350; /* Color de fondo del footer */
    padding: 20px;
    text-align: center;
}
footer h2 {
    color: #f4d4b7; /* Color del texto en el footer */
}

.formulario{
  
 background-color: #f4d4b7;
    width: min(60rem, 100%); /*utilizar el valor mas peque침o*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

@media(min-width:600px) {
    .iconosCodigoVestimenta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 40%;
        margin-right: 40%;
    }
}

.iconosCodigoVestimenta img{
    height: 70px;
    width: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form input {
    margin: 0;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #333c54; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados en el formulario */
}
form button {
    background-color: #f4d4b7; /* Color del bot칩n */
    color: #171b25; /* Color del texto del bot칩n */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #f5f3ef; /* Color del bot칩n al pasar el mouse */
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    #countdown {
        font-size: 1.2em;
    }
}

